/* ----------------- Variables ----------------- */
:root {
    --primary-blue: #86E0F0;
    --primary-blue-dark: #37C4DD;

    --bs-body-font-family: 'Roboto', Arial, sans-serif;
}



/* ----------------- Bootstrap Overrides ----------------- */
/* button */
.btn-primary {
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
    color: black;
    box-shadow: var(--bs-box-shadow-sm);
}

.btn-primary:hover {
    background-color: var(--primary-blue-dark);
    border-color: var(--primary-blue-dark);
    color: black;
}

.btn.btn-primary:active {
    background-color: var(--primary-blue-dark);
    border-color: var(--primary-blue-dark);
    color: black;
    box-shadow: none;
}

/* border */
.border-primary {
    border-color: var(--primary-blue) !important;
}


/* ----------------- Additional Styling ----------------- */
body {
    background-color: var(--primary-blue);
}

nav {
    background-color: var(--primary-blue);
}

.bg-primary {
    background-color: var(--primary-blue);
}

.bottom-shadow {
    box-shadow: 0 5px 2px -2px rgba(0,0,0,0.15);
}

.logo-font {
    font-family: "Balsamiq Sans", 'Roboto Light', serif;
}

.text-truncate-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
}
