{% extends "base_head.html" %}
{% load static %}
    {% block outer_body %}
        <div class="min-vh-100 d-flex flex-shrink-0 flex-column">
            <header data-bs-theme="light">
                <nav class="navbar navbar-expand-lg shadow-sm text">
                    <div class="container-fluid">
                        <a class="navbar-brand text-black logo-font fw-semibold fs-3" href="/">
                            <img src="{% static "images/icons/logo_dark.png" %}" alt="Logo" width="30" height="30" class="d-inline-block align-items-center" />
                            WeVolunteer
                        </a>
                        <button class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarText"
                                aria-controls="navbarText"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul role="navigation"
                                aria-label="Project links"
                                class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'core:events' %}">
                                        <i class="bi bi-calendar2-event-fill"></i>
                                        Events
                                    </a>
                                </li>
{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" href="#">#}
{#                                        <i class="bi bi-people-fill"></i>#}
{#                                        Organizations#}
{#                                    </a>#}
{#                                </li>#}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'core:about' %}">
                                        <i class="bi bi-info-circle-fill"></i>
                                        About
                                    </a>
                                </li>
                            </ul>
                            <div class="justify-content-lg-end text-nowrap">
                                <ul role="navigation" aria-label="Account links" class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
                                {% if user.is_authenticated %}
                                    {% url 'account_email' as email_url_ %}
                                    {% url 'socialaccount_connections' as socialaccount_url_ %}
                                    {% if email_url_ or socialaccount_url_ %}
                                        <li class="nav-item">
                                            <a href="{% if email_url_ %}{{ email_url_ }}{% else %}{{ socialaccount_url_ }}{% endif %}"
                                               class="nav-link">
                                                <i class="bi bi-person-circle"></i>
                                                Account
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a href="{% url 'account_logout' %}" class="nav-link">
                                            <i class="bi bi-box-arrow-right"></i>
                                            Sign Out
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                       <a href="{% url 'account_login' %}" class="nav-link">
                                            <i class="bi bi-door-open-fill"></i>
                                            Sign In
                                       </a>
                                    </li>
                                    {% url 'account_signup' as signup_url_ %}
                                    {% if signup_url_ %}
                                        <li class="nav-item">
                                            <a href="{{ signup_url_ }}" class="nav-link">
                                                <i class="bi bi-person-plus-fill"></i>
                                                Sign Up
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

        {% block inner_body %}
        {% endblock inner_body %}
    </div>

<footer class="bg-dark text-light pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>
                    <img src="{% static "images/icons/logo_light.png" %}" alt="Logo" width="25" height="25" class="d-inline-block align-items-center" />
                    WeVolunteer
                </h5>
                <p>Ogden, Utah, USA</p>
                <p class="fst-italic">Originally created for academic purposes by Weber State University students and alumni.</p>
            </div>
            <div class="col-md-4 mb-3 text-md-center">
                <h6 class="fw-bold">Links</h6>
                <ul class="list-unstyled">
                    <li><a href="https://weber.edu" class="text-light">Weber State University</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 text-md-end">
                <h6 class="fw-bold">Contact</h6>
                <p>
                    info@example.com
                </p>
            </div>
        </div>
        <hr class="bg-light">
        <div class="d-flex justify-content-between align-items-center pb-4">
            <span>© 2025 Daniel Oldham with WeVolunteer</span>
            <div>
                <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-light"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
{% endblock outer_body %}