{% load partials %}
{% partialdef event-card %}
<div class="card h-100 m-4 border-primary border-2 shadow-sm">
    <div class="card-body">
        {# title #}
        <h4 class="card-title">
            {{ event.title }}
        </h4>

        {# date #}
        <div class="card-text py-1">
            <span class="pe-2"><i class="bi bi-calendar-event"></i></span>{{ event.date|date:"D M d, Y" }}
        </div>

        {# time #}
        <div class="card-text py-1">
            <span class="pe-2"><i class="bi bi-clock"></i></span>{{ event.start_time|time:"g:i A" }}{% if event.end_time %} - {{ event.end_time|time:"g:i A" }}{% endif %}
        </div>

        {# address #}
        <div class="card-text py-1 text-truncate">
            <span class="pe-2"><i class="bi bi-geo-alt"></i></span>{{ event.address }}
        </div>

        <hr class="">

        {# org name #}
        <div class="card-text py-1 text-truncate fst-italic">
            <span class="pe-2"><i class="bi bi-people"></i></span>{{ event.organization.name }}
        </div>

        {# org email #}
        {% if event.organization.contact_email %}
        <div class="card-text py-1">
            <span class="pe-2"><i class="bi bi-envelope"></i></span>{{ event.organization.contact_email }}
        </div>
        {% endif %}

        {# org phone #}
        {% if event.organization.contact_phone %}
        <div class="card-text py-1">
            <span class="pe-2"><i class="bi bi-telephone"></i></span>{{ event.organization.contact_phone }}
        </div>
        {% endif %}

        <hr class="">

        {# details #}
        <div class="card-text py-1 text-truncate-3">
            {{ event.description }}
        </div>
    </div>
</div>
{% endpartialdef %}