{% load partials enum_tags google_fonts %}
{% partialdef organization-card %}
<div class="card h-100 mb-4 border-wv-green border-2 shadow-sm">
    <div class="card-body">
        {# name #}
        <h5 class="card-title logo-font fw-semibold">
            <a href="#" class="link-dark link-offset-1">
                {{ org.name }}
            </a>
        </h5>

        {# upcoming events #}
        <div class="card-text fst-italic py-1">
            <span class="pe-2"><i class="bi bi-calendar-event"></i></span>{{ upcoming_events_count }} Upcoming Event{% if upcoming_events_count != 1 %}s{% endif %}
        </div>

        {# website #}
        {% if org.website %}
            <div class="card-text py-1">
                <span class="pe-2"><i class="bi bi-link-45deg"></i></span><a href="{{ org.website }}">{{ org.website }}</a>
            </div>
        {% endif %}

        <hr class="">

        {# about #}
        <div class="card-text py-1 text-truncate-3">
            {% if org.about %}
                {{ org.about }}
            {% else %}
                <span class="fst-italic">No details</span>
            {% endif %}
        </div>
    </div>
</div>
{% endpartialdef %}