{% extends 'nav_footer.html' %}
{% block inner_body %}
<div class="flex-grow-1 bg-body-secondary d-flex flex-column justify-content-center py-4">
    <div class="flex-grow-0 flex-shrink-0 container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-8">
                <div class="card rounded-4 shadow-sm">
                    <div class="card-body mx-2 mx-md-5 my-3">
                        <h2 class="card-title text-center fw-bold logo-font pb-2">{{ event.title }}</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock inner_body %}