{% extends 'nav_footer.html' %}
{% block inner_body %}
<div class="flex-grow-1 bg-body-secondary">
    <div class="mx-4 mt-5">
        <div class="row">
            <h2 class="logo-font fw-semibold text-center">Upcoming Events</h2>
        </div>
    </div>

    {% include 'partials/monthly_event_list.html#monthly-event-list' %}

    <div data-signals-current_month="{{ current_month }}"
         data-signals-current_year="{{ current_year }}"></div>

    <div class="row mx-4 my-5">
        <span class="text-center">
            <button class="btn btn-primary fw-semibold">
                Load More
            </button>
        </span>
    </div>
</div>
{% endblock inner_body %}