{% extends 'nav_footer.html' %}
{% block inner_body %}
<div class="flex-grow-1 bg-body-secondary">
    <div class="mx-4 mt-3">
        <div class="row">
            <h2 class="logo-font fw-semibold text-md-center pt-md-3">Upcoming Events</h2>
        </div>

        {% load rules %}
        {% if user.is_authenticated %}
            {% has_perm 'events.add_event' user as can_add_event %}
            {% if can_add_event %}
                <div class="row mt-3">
                    <div class="col text-md-center">
                        <a href="{% url 'core:event-add' %}" class="btn btn-primary fw-bold">Add New Event <i class="bi bi-calendar-plus"></i></a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    {% include 'partials/monthly_event_list.html#monthly-event-list' %}

    <div id="appended-monthly-event-list"
         data-signals-current_month="{{ current_month }}"
         data-signals-current_year="{{ current_year }}"></div>

    <div data-signals-more_events="true" id="load-more-events-div" class="row mx-4 my-5">
        <span data-show="$more_events" class="text-center">
            <button data-on-click="@get('{% url "core:get-next-month-events" %}')"
                    data-indicator-_fetching_events
                    data-attr-disabled="$_fetching_events"
                    class="btn btn-primary fw-semibold">

                <span data-show="!$_fetching_events">Load More</span>
                <span data-show="$_fetching_events">Loading....</span>
            </button>
        </span>

        <span data-show="!$more_events" class="text-center fst-italic">
            There are no more upcoming events!
        </span>
    </div>
</div>
{% endblock inner_body %}